html {
  font-family: sans-serif;
  height: 100%;
  color: white;
  background-color: #1F2124;
}

body {
  background-color: #1F2124;
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  height: 100%;
  color: white;
  padding: auto;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 1rem 0;
  font-size: 2rem;

}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #636363;
}

.nav-links {
  width: 100%;
  background-color: #1F2124;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 0;
  display: none;
  position: absolute; 
  top: 70px; 
  left: 0;
  height: 100vh; 
  z-index: 10;
}

.nav-links.expanded {
  display: flex;
}

.nav-links a {
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative; 
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #636363;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover::after,
.nav-links a:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.expanded {
  display: unset;
}
.footer {
  background-color: #1F2124;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #4A4A4A;
  color: white;
  flex-direction: column;
  gap:10px;
}
.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.background-image {
  width: 100%;
  height: auto;
  opacity: 0.7; 
  border-radius: 10px;
}

.text-overlay {
  width:80%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 1rem; 
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.text-overlay h1 {
  margin: 0;
  font-size: 1.2rem; 
}

.text-overlay p {
  margin: 0.5rem 0;
  font-size: 0.8rem; 
  font-weight: normal;
}


@media screen and (min-width: 640px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
    flex-direction: row;
    height: auto;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 15px;
  }
  .text-overlay {
    width: 1000px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.3rem; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .text-overlay h1 {
    margin: 0;
    font-size: 1.8rem; 
  }
  
  .text-overlay p {
    margin: 0.5rem 0;
    font-size: 1.2rem; 
    font-weight: normal;
  }
}
