---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");

const tagCounts = allPosts.reduce((acc, post) => {
  const tags = post.data.tags; // 確保獲取到正確的 tags 屬性
  if (tags) {
    tags.forEach(tag => {
      if (acc[tag]) {
        acc[tag] += 1;
      } else {
        acc[tag] = 1;
      }
    });
  }
  return acc;
}, {});

const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-2">
    {Object.entries(tagCounts).map(([tag, count]) => (
      <p class="p-3 border border-[#2A2D32] rounded-lg hover:bg-[#1C2128] hover:border-[#58A6FF] transition duration-300">
        <a href={`/tags/${tag}`} class="text-[#E6EDF3] hover:text-[#58A6FF]">{tag} ({count} articles)</a>
      </p>
    ))}
  </div>
</BaseLayout>