---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---
<header class="flex justify-between items-center pl-[10%] pr-[10%] sm:pl-[15%] sm:pr-[15%] lg:pl-[25%] lg:pr-[25%] pt-[10px] pb-[10px] border-b-1 bg-opacity-50 border-[#4A4A4A] text-white">
  <div class=" flex flex-row justify-center items-center gap-5 cursor-pointer">
    <a href="/">
      <Image
        src={logo}
        width="50"
        height="45"
        decoding="async"
        loading="lazy"
        alt="logo"
        class="logo rounded-full"
      />
    </a>
  </div>
    <Hamburger />
  <Navigation />
</header>
