---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import "../styles/global.css";
const { pageTitle } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en" class="bg-black">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
	<ViewTransitions />
  </head>
  <body>
    <Header/>
    <div class="min-h-full bg-[#1F2124]">
      <div class="mt-[20px] ml-[10%] mr-[10%] sm:pb-[50px] sm:ml-[15%] sm:mr-[15%] lg:ml-[25%] lg:mr-[25%]">
        <slot />
      </div>
    </div>
    <Footer />
    <script >
      import "../scripts/menu.js";
    </script>
  </body>
</html>
